body {
  background: #f5f5f5;
  font-family: sans-serif;
}

a {
  color: #333;
  text-decoration: none;
}

.title {
  margin: 0;
  padding: 1rem;
  text-align: center;
  background: #333;
}

.title a {
  color: #fff;
}

.challenges {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin: 0;
  padding: 0;
  list-style: none;
}

.challenges a {
  margin: 1rem;
}

.challenges__header {
  flex-basis: 100%;
}
.challenges__header::before {
  content: "";
  border-right: 4px solid #333;
  margin-right: 0.5rem;
}

.challenge {
  padding: 1rem;
  background: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.challenge:hover {
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1), -4px -4px 20px rgba(0, 0, 0, 0.1);
}
